In [1]:
import pandas as pd

In [9]:
import numpy as np

In [5]:
data = pd.read_csv('test.csv.csv', encoding='windows-1251', delimiter=';')

In [8]:
data

,ФИО полностью,Департамент,Отдел,Должность,Оценка,Оклад
0,Баранов Трофим Васильевич,Продажи,B2B,Sales manager,3.8,106600
1,Творимир Давыдович Суханов,Маркетинг,Performance,Маркетинг-менеджер,4.0,65900
2,Евлампий Валерианович Карпов,Бухгалтерия,Зарплата,Бухгалтер,3.5,87400
3,Филатов Тихон Устинович,Продажи,B2B,Key account manager,4.4,78300
4,Алла Максимовна Лаврентьева,Разработка,Внутренний портал,Backend-инженер,4.0,103200
...,...,...,...,...,...,...
195,Виктор Арсенович Русаков,Продажи,B2C,Key account manager,4.6,59900
196,Ювеналий Ефремович Блохин,Бухгалтерия,Компенсации и льготы,Бухгалтер,3.7,122300
197,Тетерина Лора Максимовна,Аналитика,Product,Data Science инженер,3.8,109900
198,Григорьев Рюрик Авдеевич,Разработка,Платформа,Android-инженер,4.3,71600
199,Лобанов Парфен Зиновьевич,Продажи,B2B,Sales manager,3.8,117500

In [13]:
data.groupby(by='Департамент').agg({'Оклад': [np.mean, min, max],
                                   'ФИО полностью': 'count'})

                    Оклад                ФИО полностью
                     mean    min     max         count
Департамент
Аналитика    88036.170213  55700  122900            47
Бухгалтерия  84702.857143  55800  122300            35
Маркетинг    88491.176471  61500  119400            34
Продажи      90914.285714  56100  124500            42
Разработка   92714.285714  59700  124900            42